<div class="pane-content">
  <div
    class="field field-name-field-feature-block field-type-text-long field-label-hidden"
  >
    <div class="field-items">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="field-item even">
            <p>
              <img
                border="0"
                class="img-responsive"
                src="{{ '/assets/images/Amukha-v9_resize_samp_0.jpeg' }}"
                title="Ink print of man screaming on an Āmukha issue cover."
              />
            </p>

            <h4>
              Featured:
              <a
                href="//www.crl.edu/impact/samps-unique-urdu-and-hindi-collections-support-teaching-and-scholarship-devotional"
                >Unique Urdu and Hindi Collection</a
              >
            </h4>

            <p>
              Prof. Robert Phillips, lecturer for the Program in South Asian
              Studies at Princeton University, teaches courses in Hindi-Urdu and
              South Asian Studies, and has used both South Asia Materials
              Project (SAMP) and CRL resources to support different research,
              writing, and teaching projects.
            </p>

            <p>
              Accessing
              <a href="https://dds.crl.edu/crldelivery/30315">Āmukha</a> in
              SAMP’s holdings offered an opportunity to incorporate the crucial
              - but often less-collected - genre of the little magazine into his
              research on Hindi modernism&nbsp;and a subsequent conference
              presentation.
            </p>

            <div class="boxfoot">
              <a
                class="link"
                href="//www.crl.edu/impact/samps-unique-urdu-and-hindi-collections-support-teaching-and-scholarship-devotional"
                >CRL Holdings</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
