// See https://getbootstrap.com/docs/5.3/customize/sass/

// Import all of Bootstrap's CSS
@import '/node_modules/bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';

// @import 'loader';

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.saoa-logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  color: #404041;
  font-size: 8rem;
}

.saoa-light {
  color: #8b8b8c;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

// Additional SCSS goes here