---
title: Acknowledgements
layout: page
eleventyNavigation:
  key: Acknowledgements
  order: 4
---

<p>
  SAOA would like to acknowledge the contributions of the following
  institutions. If we have missed a contribution of which you are aware, please
  let us know by sending an email to
  <a href="mailto:saoa@crl.edu?subject=South%20Asia%20Open%20Archives%20(SAOA)"
    >saoa@crl.edu</a
  >.
</p>

<p><strong>MEMBER CONTRIBUTORS</strong></p>

<p>
  SAOA appreciates the support of institutions that have committed for a
  five-year period (some contributors are financial and others are in-kind).
  SAOA Member institutions are listed
  <a href="{{ '/members/' }}">here</a>.
</p>

<p><strong>FINANCIAL CONTRIBUTORS</strong></p>

<p>
  SAOA appreciates the contributions of the Title VI National Resource Centers
  who have voluntarily committed funds. The institutions that have committed
  funds for FY19-22:
</p>

<ul>
  <li>
    Center for Global Studies at the University of Illinois, Urbana-Champaign
  </li>
  <li>Center for South Asia at the University of Wisconsin</li>
  <li>Center for South Asian Studies at the University of Michigan</li>
  <li>
    Institute for South Asia Studies at the University of California, Berkeley
  </li>
  <li>South Asia Center at the University of Pennsylvania</li>
  <li>South Asia Center at Syracuse University</li>
  <li>South Asia Center at the University of Washington</li>
  <li>South Asia Institute at the University of Texas-Austin</li>
  <li>South Asia Program at Cornell University</li>
</ul>

<p><strong>IN-KIND CONTRIBUTORS</strong></p>

<p>
  SAOA appreciates the contributions of institutions who have voluntarily
  committed content for the collections. These institutions are:
</p>

<ul>
  <li>American Institute for Sri Lankan Studies</li>
  <li>Heidelberg University</li>
</ul>
