---
title: Content Curation Working Group
layout: page
---

<p>
  The Content Curation Working Groupis a standing body of the South Asia Open
  Archives, reporting to the SAOA Executive Board and working in close
  consultation with the Program Coordinator and other Working Groups.
</p>

<h4>Members of the Content Curation Working Group:</h4>

<p>Ryan Perkins, Stanford University (chair)</p>

<p>Sohaib Baig, University of California, Los Angeles</p>

<p>Deepa Banerjee, University of Washington</p>

<p>Brent Bianchi, Yale University</p>

<p>David Magier, Princeton University</p>

<p>Jeffrey Martin, University of Michigan</p>

<p>James Nye, University of Chicago</p>

<p>GauthamReddy, Emory University</p>

<h4>Purpose:</h4>

<p>
  The Content CurationWorking Groupsolicits ideas fornew SAOAcontent from
  scholars and librarians, conductsresearch on available holdings, and
  selectsand prioritizesmaterials for Executive Board consideration,on all
  matters associated with SAOA's core mission ofproviding digitalresources for
  open access.These include, but are not limited to:
</p>

<ul>
  <li>consulting withother digital projects and archivesforcontent</li>
  <li>selection of titles for inclusion</li>
  <li>approaches to copyright clearance for titles</li>
</ul>

<h4>Rationale:</h4>

<p>
  The Content Curation Working Group contributes to one of the most central
  components of SAOA: the shape of its collections.When making selection
  decisions, thework of the Content Curation Working Group is informed by two
  important documentsapprovedby the SAOA membership:
</p>

<ol>
  <li>
    An evolving set of<a href="//www.crl.edu/selection-guidelines"
      >Selection Guidelines</a
    >(withexpanding content foci for themes and resource types); and
  </li>
  <li>
    <a href="//www.crl.edu/selection-principles">SelectionPrinciples</a
    >(collection development guidelines).
  </li>
</ol>

<p>
  Thesetwodocuments helpfocusSAOA’scollection development around thematic areas
  and provide a rationale for makinginformed selectiondecisions.
</p>

<h4>Membership:</h4>

<p>
  The Content Curation Working Group is composed of atleastthreeor moremembers
  from SAOA member institutions appointed by the Executive Board. At least one
  member will be from the Executive Board and that member willChairor
  Co-Chairthe Working Group. The SAOA Project Coordinatorparticipates in
  meetings of the Working Group.While there is no fixed term of service
  forContent CurationWorking Group members, they are encouraged to participate
  for at least two years to help ensure continuity and progress.
</p>

<h4>Tasks, Timelines, and Deliverables:</h4>

<p>
  Tasks, timelines, and deliverables for the Working Group will typically be
  recommended by the Executive Board. The Working Group may also propose tasks
  within its purpose that contributeto the SAOA mission.
</p>

<h4>Reporting:</h4>

<p>
  The Content Curation Working Group reports to the Executive Board on a monthly
  basis and more often if requested. The Executive Board will be responsible for
  reporting recommendations by the Working Group to the SAOA membership.
</p>

<p>Updated on October 16, 2020</p>
