---
title: Funding Working Group
layout: page
---

<div class="field-item even" property="content:encoded">
  <p>
    The Funding Working Group on is a standing body of the South Asia Open
    Archives, reporting to the SAOA Executive Board and working in close
    consultation with the Program Coordinator and other Working Groups.
  </p>

  <h4>Members of the Funding Working Group:</h4>

  <p>
    Abhijit Bhattacharya, Centre for Studies in Social Studies, Calcutta (CSSSC)
    (chair)
  </p>

  <p>Gary Hausman, Columbia University</p>

  <p>Michael Hopper, Harvard University</p>

  <p>Laura Ring, University of Chicago</p>

  <h4>Purpose:</h4>

  <p>
    The Funding Working Group provides recommendations to the Executive Board on
    all matters associated with the financial wellbeing of SAOA. These include,
    but are not limited to:
  </p>

  <ul>
    <li>fundraising from external sources</li>
    <li>developing cash flow projections</li>
    <li>soliciting new members</li>
  </ul>

  <h4>Rationale:</h4>

  <p>
    The Funding Working Group contributes to the financial stability of SAOA. It
    participates in shaping the vision of SAOA as the initiative grows and
    develops over time.
  </p>

  <h4>Membership:</h4>

  <p>
    The Funding Working Group is composed of at least three members from SAOA
    member institutions appointed by the Executive Board. At least one member
    will be from the Executive Board and that member will chair the Working
    Group. The Project Coordinator participates in meetings of the Working
    Group. The term of service on the Working Group, other than for the chair,
    will be one year to encourage broad participation over time by SAOA member
    institutions.
  </p>

  <h4>Tasks, Timelines, and Deliverables:</h4>

  <p>
    Tasks, timelines, and deliverables for the Working Group will typically be
    recommended by the Executive Board. The Working Group may also propose tasks
    within its purpose that contribute to the SAOA mission.
  </p>

  <h4>Reporting:</h4>

  <p>
    The Funding Working Group will report to the Executive Board at least
    quarterly and more often if requested. The Executive Board will be
    responsible for reporting recommendations by the Working Group to the SAOA
    membership.
  </p>

  <p>Approved by the OAi Executive Board on May 26, 2016</p>
</div>
