---
title: How to Become a Member of SAOA
layout: page.njk
eleventyNavigation:
  key: Membership
  order: 2
---

<p>
  The foundation of SAOA is inter-institutional collaboration and its impact is
  achieved through an inclusive diversity of members. Fostering meaningful
  collaboration while recognizing difference necessitates a variety of pathways
  to membership but the benefits are the same for all members. Simultaneous
  membership in SAOA's parent body, SAMP (South Asia Materials Project), is a
  prerequisite for membership in SAOA and all membership terms are for a period
  of five years.
</p>

<p>
  <u><strong>Member Categories.</strong></u> All institutions that can are
  strongly encouraged to support SAOA at the Category 1 level. SAOA is committed
  to the principles of and opportunities afforded by open access, yet relies on
  robust funding, content contribution and staffing support to complete its
  mission. Given the varying resources among institutions and our commitment to
  inclusion, SAOA has created membership categories in order to invite
  participation from as wide an array of institutions and stakeholders as
  possible.
</p>

<p>
  Below, we define some general criteria to differentiate between the categories
  and to help South Asia librarians, scholars and local stakeholders try to
  advocate with their institutions for SAOA membership at a level appropriate to
  their own institution. Institutions may qualify under a certain membership
  category based on the contributions they are able to make, but the following
  factors may be considered locally for seeking an appropriate level:
</p>

<ul>
  <li>
    <strong
      >Possible characteristics of Category 1 members might include one or more
      of these:</strong
    >

    <ul>
      <li>Library staff dedicated to South Asia</li>
      <li>
        Well-established, robust annual South Asia library materials budgets
      </li>
      <li>Historically strong South Asia collections</li>
      <li>
        Significant South Asia-related course offerings, research, and programs
      </li>
    </ul>
  </li>
  <li>
    <p>
      <strong
        >Possible characteristics of Category 2 members might include one or
        more of these:</strong
      >
    </p>

    <ul>
      <li>
        <p>Limited staffing dedicated to South Asia</p>
      </li>
      <li>
        <p>Moderate annual South Asia materials budgets</p>
      </li>
      <li>
        <p>
          Some South Asia-specific course offerings, research or programs; or
          individual scholars with strong South Asia research or teaching
          interests
        </p>
      </li>
    </ul>
  </li>
  <li>
    <p>
      <strong
        >Possible characteristics of Category 3 members might include one or
        more of these:</strong
      >
    </p>

    <ul>
      <li>
        <p>
          Small or no budgets dedicated to South Asia; or small or no funds to
          dedicate to collaborative open-access projects
        </p>
      </li>
      <li>
        <p>Very limited or no staffing dedicated to South Asia</p>
      </li>
      <li>
        <p>Some South Asia teaching and research interest</p>
      </li>
      <li>
        <p>
          Some significant or unique South Asia holdings in their collections
        </p>
      </li>
    </ul>
  </li>
</ul>

<p>
  <u><strong>Contributions.</strong></u> There are three types of memberships at
  different levels of contribution:
</p>

<ul>
  <li>
    <p>
      <strong>Category 1</strong> Members contribute a minimum of $25,000 paid
      over five years. Additional optional contributions may include digital
      assets, vetted by SAOA and/or contributions of staff time for SAOA
      activities and services.
    </p>
  </li>
  <li>
    <p>
      <strong>Category 2</strong> Members contribute a minimum of $20,000 paid
      over five years. Additional optional contributions may include digital
      assets, vetted by SAOA, and/or contributions of staff time for SAOA
      activities and services.
    </p>
  </li>
  <li>
    <p>
      <strong>Category 3</strong> Members contribute a minimum of $10,000 paid
      over five years, <strong><u>OR</u></strong
      >&nbsp;creation and contribution of a substantial amount of content in the
      form of new digital assets (minimum 500 digital volumes over five years),
      vetted by SAOA, <u><strong>AND/OR</strong></u> substantial contributions
      of staff time for SAOA activities and services.
    </p>
  </li>
</ul>

<p>
  <u><strong>Benefits.</strong></u> All SAOA Members are eligible to:
</p>

<ul>
  <li>
    <p>Stand for election to serve on the SAOA Executive Board.</p>
  </li>
  <li>
    <p>
      Serve on Working Groups on Content Curation, Infrastructure, and Funding.
    </p>
  </li>
  <li>
    <p>Vote in the SAOA Executive Board elections.</p>
  </li>
  <li>
    <p>Provide input on SAOA decisions and documentation.</p>
  </li>
</ul>

<h3>Staff Time (In-Kind Contributions)</h3>

<p>
  Institutions may contribute staff time to support SAOA's daily operations and
  activities. These contributions may include: creation or manipulation of
  metadata, program support, scanning of material, quality control of digital
  content, or other work that supports the SAOA program and has been discussed
  and approved by the SAOA Executive Board before membership is finalized.
</p>

<h3>Digital Content (In-Kind Contributions)</h3>

<p>
  Institutions may contribute digital content for SAOA's collections. This
  pathway to membership is particularly encouraged for institutions that have
  existing digital content or current digitizing capabilities but which lack the
  technical infrastructure to make that content freely and publicly available.
  SAOA purposefully seeks to be as inclusive as possible when considering
  in-kind pathways to membership:
</p>

<ul>
  <li>
    <p>
      "In-kind Contributions" must align with SAOA Selection Guidelines. The
      Selection Guidelines are also linked in the
      <a
        href="{{
          '/assets/files/FINAL%20SAOA%20FY21-25%20Five-Year%20Plan.pdf'
        }}"
        >SAOA Five-Year Plan (FY21-25)</a
      >
      and are interpreted and implemented by the Content Curation Working Group.
      All SAOA-branded content is subject to a proposal process, including
      "In-Kind Contributions", and ultimately is reviewed and voted on by the
      SAOA Executive Board. Specifics about the content of in-kind Contributions
      (per the proposal process) should be communicated by the potential member
      and agreed to by the SAOA Executive Board before membership is finalized.
    </p>
  </li>
  <li>
    <p>
      "In-kind Contributions" must meet basic digitization specifications as
      outlined in SAOA's
      <a href="{{ '/digitization-guidelines' }}">Digitization Guidelines</a>.
    </p>
  </li>
  <li>
    <p>
      "In-kind Contributions" should not already be openly available through a
      stable platform.
    </p>
  </li>
</ul>

<p>
  To join SAOA, institutions must make a commitment for five years established
  by the
  <a href="{{ '/assets/files/SAOA_Participant_CommitmentForm_2022_0.pdf' }}"
    >Participant Commitment Form</a
  >.
</p>

<p>
  SAOA aims to include as many members as possible, and welcomes inquiries
  regarding membership possibilities from potential members.
</p>

<p>
  To stay up to date with SAOA news and announcements,
  <a href="http://eepurl.com/h-ivaf" target="_blank"
    >subscribe to our quarterly newsletter</a
  >.
</p>
