---
title: Home
layout: page.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">SAOA <br />South Asia <br />Open Archives</h1>
    <p class="col-md-8 fs-4">
      The South Asia Open Archives (SAOA), a subset of the South Asia Materials
      Project (SAMP), creates and maintains a collection of open access
      materials for the study of South Asia. This major collaborative initiative
      is aimed at addressing the current scarcity of digital resources pertinent
      to South Asian studies and at making collections more widely accessible
      both to North American scholars and to researchers worldwide.
    </p>
    <a
      href="https://www.jstor.org/site/south-asia-open-archives/"
      target="_blank"
      class="btn btn-primary btn-lg"
      type="button"
      >Search the Collection</a
    >
  </div>
</div>

<div class="field-item even" property="content:encoded">
  <div class="field-name-field-higxshlight-image thumbnail" style="width: 50%">
    <a href="{{ '/' }}" class="contains-image"
      ><img
        alt=""
        class="img-responsive"
        src="{{ '/assets/images/saoa-logo.png' }}"
    /></a>

    <div class="logo">
      <h1 class="saoa-logo">SAOA</h1>
      <h2 class="saoa-light display-4">South Asia<br />Open Archives</h2>
    </div>
  </div>

  <p style="font-size: 18px">
    <strong
      >The SAOA collection is freely available at:
      <a href="https://www.jstor.org/site/saoa/"
        >https://www.jstor.org/site/saoa/</a
      ></strong
    >
  </p>

  <p>
    The South Asia Open Archives (SAOA), a subset of the South Asia Materials
    Project (SAMP), creates and maintains a collection of open access materials
    for the study of South Asia. This major collaborative initiative is aimed at
    addressing the current scarcity of digital resources pertinent to South
    Asian studies and at making collections more widely accessible both to North
    American scholars and to researchers worldwide.
  </p>

  <p>
    SAOA (formerly SAMP OAI) addresses needs in all academic disciplines, from
    the humanities through the sciences. With an initial emphasis on
    colonial-era materials from South Asia, a carefully curated collection of
    resources will fill gaps in available online collections. Several criteria
    are used to select and prioritize resources for digitization, including:
  </p>

  <ul>
    <li>Value to research;</li>
    <li>Utility for a broad population of users;</li>
    <li>
      Uniqueness (not available through other credible, sustainable sources);
    </li>
    <li>
      At risk – due to condition, environmental or sociopolitical factors, or
      other threats;
    </li>
    <li>Complementarity to other resources.</li>
  </ul>

  <p>
    Please visit the
    <a href="{{ '/assets/files/Statement%20of%20Value_0.pdf' }}"
      >Statement of Value</a
    >
    to learn more about how SAOA provides demonstrable value to its members,
    partners, and the general public. The
    <a
      href="{{ '/assets/files/FINAL%20SAOA%20FY21-25%20Five-Year%20Plan.pdf' }}"
      >SAOA Five-Year Plan (FY21-25)</a
    >
    and SAOA reports from
    <a
      href="{{
        '/assets/files/SAOA%20Annual%20Report%20-%20Spring%202021.pdf'
      }}"
      >2021</a
    >
    and
    <a href="{{ '/assets/files/2023_SAOA_AnnualActivitiesReport.pdf' }}"
      >2023</a
    >
    provide additional details.
  </p>

  <p>
    To become a member of SAOA, please submit the
    <a href="{{ '/assets/files/SAOA_Participant_CommitmentForm_2024_May.pdf' }}"
      >Participant Commitment Form</a
    >
    to
    <a
      href="mailto:saoa@crl.edu?subject=SAOA%20Participant%20Commitment%20Form"
      data-extlink=""
      >SAOA<span class="mailto"
        ><span class="element-invisible">(link sends e-mail)</span></span
      ></a
    >.
  </p>

  <p>
    Elements of SAOA governance are to be found in the
    <a href="//www.crl.edu/area-studies/samp/membership-information/prospectus"
      >SAMP Prospectus</a
    >, Five-Year Plan (linked above), and the
    <a
      href="{{
        '/assets/files/SAOA_Organizational%20Practices_Document-Approved%28Amended_November_2022%29.pdf'
          | url
      }}"
      >Organizational Practices</a
    >
    document.
  </p>

  <p>
    To make a suggestion about content to digitize for inclusion in SAOA, please
    use this
    <a href="https://airtable.com/shrp5mo7pD2Y4dBq6" data-extlink=""
      >suggestion form<span class="ext"
        ><span class="element-invisible">(link is external)</span></span
      ></a
    >.
  </p>

  <p><a href="http://workspace.crl.edu/">Members only Workspace</a></p>
</div>
