---
title: Infrastructure Working Group
layout: page
---

<div class="field-item even" property="content:encoded">
  <p>
    The Infrastructure Working Group is a standing body of the South Asia Open
    Archives, reporting to the SAOA Executive Board and working in close
    consultation with the SAOA Program Coordinator and other Working Groups.
  </p>

  <p>Members of the Infrastructure Working Group:</p>

  <p>R. Prakash, Roja Muthiah Research Library (chair)</p>

  <p>David Faust, University of Minnesota</p>

  <p>Adnan Malik, University of California, Berkeley</p>

  <p>Jef Pierce, University of Pennsylvania</p>

  <p>Mary Rader, University of Texas at Austin</p>

  <p><strong>Purpose:</strong></p>

  <p>
    The Infrastructure Working Group provides recommendations to the Executive
    Board on all matters associated with the supporting technological framework
    of the SAOA. These include, but are not limited to:
  </p>

  <ul>
    <li>Administration, staffing, and strategic partnerships</li>
    <li>
      Ongoing support for process improvements, standards updates, and SAOA site
      enhancements
    </li>
    <li>
      Standards for digitization and metadata, the initiative's SAOA’s web
      presence, and intellectual property rights associated with resources
      presented through SAOA
    </li>
    <li>Preservation archive for long term storage</li>
    <li>
      Project-oriented work, such as quality control and addressing questions
      regarding digitization and ingest
    </li>
    <li>
      Strategic planning related to changing technologies and emerging
      infrastructure needs, for example, support for new formats/data here
      (images, data sets, archival material, etc.)
    </li>
  </ul>

  <p><strong>Rationale:</strong></p>

  <p>
    The Infrastructure Working Group contributes to the permanent framework
    underlying SAOA activities. It participates in shaping the vision of SAOA as
    the initiative grows and develops over time.
  </p>

  <p><strong>Membership:</strong></p>

  <p>
    The Infrastructure Working Group is composed of at least three members from
    SAOA member institutions. At least one member will be from the Executive
    Board and that member will serve as the Working Group Chair or Co-Chair. The
    SAOA Program Coordinator participates in meetings of the Working Group. The
    term of service on the Working Group is one year and members are encouraged
    to renew their term of service.
  </p>

  <p><strong>Tasks, Timelines, and Deliverables:</strong></p>

  <p>
    Tasks, timelines, and deliverables for the Working Group are typically
    recommended by the Executive Board. The Working Group may also propose tasks
    within its purpose that contribute to the SAOA mission.
  </p>

  <p><strong>Reporting:</strong></p>

  <p>
    The Infrastructure Working Group reports to the Executive Board on a monthly
    basis and more often if requested. The Executive Board will be responsible
    for reporting recommendations by the Working Group to the SAOA membership.
  </p>

  <p>Updated on September 14, 2020</p>
</div>
