---
title: Outreach Working Group
layout: page
---

<p>
  The Outreach Working Group is a standing body of the South Asia Open Archives
  (SAOA), reporting to the SAOA Executive Board and working in close
  consultation with the SAOA Program Coordinator and other Working Groups.
</p>

<p><strong>Members of the Outreach Working Group:</strong></p>

<p>Laura Ring, University of Chicago (Chair)</p>

<p>Ellen Ambrosone, Princeton University</p>

<p>Triveni Kuchi, Rutgers, The State University of New Jersey</p>

<p>Todd Michelson-Ambelang, University of Wisconsin–Madison</p>

<p>Mara Thacker, University of Illinois at Urbana-Champaign</p>

<p><strong>Purpose:</strong></p>

<p>
  The charge of the Outreach Working Group is to enhance, increase, and
  diversify use of the South Asia Open Archives through community engagement.
</p>

<p>
  Our outreach is aimed at the user community writ large, encompassing both
  current and future/potential users, and member and non-member institutions
  across the globe. In furthering the open access, decolonizing mission of SAOA,
  we have a particular commitment to reaching a diversity of scholars and
  institutions in South Asia, as well as non-elite and minority-serving
  institutions in the United States.
</p>

<p>The forms of community engagement we propose include:</p>

<ul>
  <li>
    <strong>Social Media presence and strategy:</strong>

    <ul>
      <li>Sharing information about SAOA resources and activities</li>
      <li>
        Engaging with social media content from others in South Asian studies,
        Library, or Open Access organizations
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>
    <strong>Educational support:</strong>

    <ul>
      <li>
        Creating materials to support, enhance, and encourage the use of SAOA
        content, including
        <ul>
          <li>
            Research guides to interpret key collections (e.g., All-India census
            reports)
          </li>
          <li>
            Collection introductions that frame digital holdings and/or provide
            counterpoints to colonial perspectives
          </li>
        </ul>
      </li>
      <li>
        Facilitating the use of SAOA in the classroom by preparing sample
        activities and lesson plans
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>
    <strong>Public events: </strong>

    <ul>
      <li>
        Giving presentations or demos at South Asia-related conferences,
        libraries, departments, centers, programs, and other cultural
        institutions
      </li>
      <li>
        Staffing exhibition booths and distributing promotional materials at
        conferences or other relevant events
      </li>
      <li>
        Participating in panels and public conversations on open access, digital
        scholarship, South Asian studies, and other relevant academic
        disciplines and community initiatives
      </li>
    </ul>
  </li>
</ul>

<p><strong>Rationale:</strong></p>

<p>
  The Outreach Working Group contributes to the ongoing promotion of SAOA. It
  participates in shaping the vision of SAOA as the initiative grows and
  develops over time.
</p>

<p><strong>Membership:</strong></p>

<p>
  The Outreach Working Group is composed of at least three members from SAOA
  member institutions. At least one member will be from the Executive Board and
  that member will serve as the Working Group Chair or Co-Chair. The SAOA
  Program Coordinator participates in meetings of the Working Group. The term of
  service on the Working Group is one year and members are encouraged to renew
  their term of service.
</p>

<p><strong>Tasks, Timelines, and Deliverables:</strong></p>

<p>
  Tasks, timelines, and deliverables for the Working Group are typically
  recommended by the Executive Board. The Working Group may also propose tasks
  within its purpose that contribute to the SAOA mission.
</p>

<p><strong>Reporting:</strong></p>

<p>
  The Outreach Working Group reports to the Executive Board on a monthly basis
  and more often if requested. The Executive Board will be responsible for
  reporting recommendations by the Working Group to the SAOA membership.
</p>

<p>Updated on July 27, 2021</p>
