---
title: Working Groups
layout: page
eleventyNavigation:
  key: Executive Board
  order: 6
---

<p>
  Members of SAOA are encouraged to get involved in the project by joining one
  of SAOA's Working Groups. These three Working Groups are standing bodies
  ofSAOA and report to the SAOA Executive Board. They work in close consultation
  witheach other and with the Program Coordinator, South Asia Open Archives.
</p>

<p>
  The
  <a href="//www.crl.edu/content-curation-working-group"
    >Content Curation Working Group</a
  >solicits ideas fornew SAOAcontent from scholars and librarians,
  conductsresearch on available holdings, and selectsand prioritizesmaterials
  for Executive Board consideration,on all matters associated with SAOA's core
  mission ofproviding digitalresources for open access.These include, but are
  not limited to,consulting withother digital projects and
  archivesforcontent,selection of titles for inclusion,andapproaches to
  copyright clearance for titles.Consults withother SAOA Working Groups as
  appropriate.
</p>

<p>
  The
  <a href="//www.crl.edu/funding-working-group">Funding Working Group</a>
  provides recommendations to the Executive Board on all matters associated with
  the financial well-being of the SAOA. These include, but are not limited to,
  fundraising from external sources, development of cash flow projects, and
  solicitation of new members.
</p>

<p>
  The
  <a href="//www.crl.edu/infrastructure-working-group"
    >Infrastructure Working Group</a
  >provides recommendations to the Executive Board on all matters associated
  with the supporting technological framework of the SAOA.These include, but are
  not limited to:
</p>

<ul>
  <li>Administration, staffing, and strategic partnerships</li>
  <li>
    Ongoing support for process improvements, standards updates, and SAOA site
    enhancements
  </li>
  <li>
    Standards for digitization and metadata, the initiative's SAOA’s web
    presence, and intellectual property rights associated with resources
    presented through SAOA.
  </li>
  <li>Preservation archive for long term storage</li>
  <li>
    Project-oriented work, such as quality control and addressing questions
    regarding digitization and ingest
  </li>
  <li>
    Strategic planning related to changing technologies and emerging
    infrastructure needs, for example, support for new formats/data here
    (images, data sets, archival material, etc.)
  </li>
</ul>

<p>
  The
  <b
    ><a href="//www.crl.edu/outreach-working-group"
      >Outreach Working Group</a
    ></b
  >contributes to the ongoing promotion of SAOA. It participates in shaping the
  vision of SAOA as the initiatve grows and develops over time. This includes:
</p>

<ul>
  <li>Engaging with users and potential users around SAOA content</li>
  <li>Considering sustainable methods of ongoing outreach</li>
  <li>Developing workflows and messaging for social media engagement</li>
  <li>Expanding and diversifying SAOA's user communities</li>
</ul>
